.main{
  header{
    padding: 7rem 0;
    padding-top: 9rem;
    text-align: center;
    background-image: url(./img/main-header.jpg);
    background-position: center center;
    background-size: cover;
  }
}