@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import './utils';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  color: inherit;
  text-decoration: none;
}

a{
  color: $font-color-link;
}

h1, h2, h3, h4, h5{
  line-height: 1.1;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  width: 100%;
  height: 100%;
  line-height: 1.5;
}

body {
  font-family: $font-family-default;
  font-size: $font-size-default;
}