$font-size-xbig: 3.2rem;
$font-size-big: 2rem;
$font-size-default: 1.6rem;
$font-size-small: 1.4rem;
$font-size-xsmall: 1.2rem;

$font-family-default: 'Noto Sans KR', sans-serif;

$font-color-link: #337ab7;
$font-color-footer: #9ba9bc;
$font-color-dark: #343434;
$font-color-light-gray: #9b9b9b;
$font-color-light-dark: #4a4a4a;
$font-color-light-blue: #66a1f4;


$btn-border-blue: #66a1f4;

$background-color-footer: #fbfdfe;