$font-size-big: 2rem;
$font-size-default: 1.6rem;
$font-size-small: 1.4rem;
$font-family-default: 'Noto Sans KR', sans-serif;

$font-color-dark: #343434;

$btn-border-blue: #66a1f4;

$footer-background-color: #fbfdfe;
$footer-color: #9ba9bc;