$font-size-big: 2rem;
$font-size-default: 1.6rem;
$font-size-small: 1.4rem;
$font-size-xsmall: 1.2rem;

$font-family-default: 'Noto Sans KR', sans-serif;

$font-color-dark: #343434;
$font-color-light-dark: #4a4a4a;

$btn-border-blue: #66a1f4;

$footer-background-color: #fbfdfe;
$footer-color: #9ba9bc;