@import '../../styles/utils';

.faq{
  margin-top: 5.6rem;
  padding: 5.7rem 0 10rem;

  &__accordion{
    width: 72rem;
    margin: 0 auto;

    h3{
      font-size: $font-size-big;
      font-weight: 300;
      margin-bottom: 19px;
      padding: 0;
      color: #4a4a4a;
      line-height: 1.42; 
    }

    ul{
      overflow: hidden;
      margin-bottom: 49px;
      border-radius: 10px;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05), 4px 4px 5px 1px rgba(0,0,0,0.05);

      li{
        display: block;
        overflow:hidden;

        [type=radio]{
          display: none;
        }

        .question{
          display: flex;
          justify-content: space-between;
          align-items: center;

          font-size: $font-size-default;
          font-weight: 500;
          color: #303030;
          padding: 1.15rem 3.2rem;
          border-top: solid 1px rgba(0,0,0,0.12);
          border-bottom: solid 1px rgba(0,0,0,0.12);
          background-color: white;
          line-height: 1.7;

          .arrow{
            @include div-img-bgSet('./img/faq_close.png', 1.7rem, .9rem);
          }
        }
        &:first-child .question{
          border-top: none;
        }

        .answer{
          background-color: white;
          font-size: 16px;
          font-weight: 300;
          max-height: 0;
          padding: 0rem 3.2rem;
          transition: all .4s ease;

          ol{
            padding-left: 4rem;

            li{
              display: list-item;
              overflow: visible;
              line-height: 1.57;
            }
          }

          p{
            margin-bottom: 1.2rem;
            line-height: 1.57;
            
            &:last-child{
              margin-bottom: 0;
            }
          }
        }

        [type=radio]:checked ~ .question{
          & .arrow{
            background-image: url(./img/faq_open.png)
          }
          & ~ .answer{
            max-height: 50rem;
            padding: 2rem 3.2rem;
            transition: max-height .6s ease, padding .4s ease;
          }
        }
      }
    }
  }
}
